@charset "UTF-8";
body {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.container {
  width: 1138px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #6f6e6e;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

[type="email"]:focus,
[type="name"]:focus,
[type="password"]:focus {
  outline: none;
}

@media (max-width: 1599px) {
  .container {
    width: 736px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 375px;
  }
}

.header {
  background-color: #222224;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__contorls-navigaion {
  position: relative;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header__navigation {
  display: none;
  background-color: #fbfbfb;
  height: 727px;
  width: 232px;
  position: absolute;
  top: 55px;
  left: 190px;
  padding-top: 37px;
  padding-left: 34px;
  -webkit-box-shadow: -5px 5px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: -5px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.header__button:hover + .header__navigation {
  display: block;
}

.header__navigation:hover {
  display: block;
}

.header__menu-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.header__menu-choice {
  color: #f16d7f;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
}

.header__menu-list {
  margin-top: 12px;
  margin-bottom: 11px;
  margin-left: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.header__person-link {
  margin: 0 34px 0 0;
}

/* элемент у тележки */
.cart {
  position: relative;
}

.cart:before {
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #f16d7f;
  position: absolute;
  right: -7px;
  top: -23px;
}

.cart:after {
  content: "5";
  color: #fbfbfb;
  position: absolute;
  right: -2px;
  top: -23px;
}

@media (max-width: 1599px) {
  .header__logo {
    margin: 0 41px 0 32px;
  }
  .header__navigation {
    left: 0;
    width: 189px;
    height: 127px;
    padding-top: 20px;
    padding-left: 20px;
  }
  .header__menu-title {
    margin-bottom: 12px;
  }
  .header__menu-list {
    display: none;
  }
  .cart {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin: 0 41px 0 0;
  }
  .header__person-link {
    display: none;
  }
  .header__wrapper {
    margin-right: 16px;
    margin-left: 16px;
  }
  .header__button {
    margin: 0;
  }
  .header__navigation {
    left: 0;
    top: 51px;
    width: 150%;
    height: 100px;
  }
  .header .cart {
    display: none;
  }
}

.subscrime {
  background-image: url(../img/nature.jpg);
  max-width: 1600px;
  margin: auto;
}

.subscrime .subscrime__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 448px;
}

.subscrime .subscrime__wrapper-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscrime .subscrime__wrapper-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 223px;
}

.subscrime .subscrime__form-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  width: 557px;
  margin-bottom: 27px;
}

.subscrime .subscrime__form-subtitle {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.subscrime .subscrime__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
}

.subscrime .subscrime__input {
  background: #e1e1e1;
  border: none;
  border-radius: 22px 0 0 22px;
  padding-left: 22px;
  width: 256px;
}

.subscrime .subscrime__button {
  background-color: #f16d7f;
  color: #fbfbfb;
  border: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  min-width: 100px;
  border-radius: 0 22px 22px 0;
}

.owner__photo {
  margin: 0 0 30px;
}

.owner__quote-text {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.owner__quote-italic {
  font-style: italic;
}

@media (max-width: 1599px) {
  .subscrime {
    background-image: url(../img/photo_subscribe_tablet.jpg);
    max-width: 768px;
    height: 614px;
  }
  .subscrime__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscrime__wrapper .subscrime__wrapper-form {
    padding: 0;
  }
  .subscrime__wrapper-owner {
    margin-top: 64px;
    margin-bottom: 48px;
  }
}

.footer__bottom {
  background-color: #222224;
}

.footer__bottom .footer__bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 79px;
}

.rights {
  color: #fbfbfb;
}

.facebook {
  background-color: transparent;
  border: none;
}

.facebook__link {
  fill: #fbfbfb;
}

.facebook__color {
  fill: #222224;
}

.facebook__link:hover {
  fill: #f16d7f;
}

.facebook__link:hover + .facebook__color {
  fill: #fbfbfb;
}

@media (max-width: 1599px) {
  .social_nets {
    margin-right: 16px;
  }
  .rights {
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .footer__bottom {
    min-height: 143px;
  }
  .footer__bottom-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 43px;
  }
}

.brand {
  background-color: #f1e4e6;
  margin: 0 0 65px 0;
}

.brand__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  margin: auto;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  position: relative;
  font-style: normal;
}

.brand__title:before {
  content: "";
  width: 12px;
  height: 92px;
  background: #f16d7f;
  position: absolute;
  left: -28px;
}

.brand__title-wrapper {
  padding: 0 0 0 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__subtitle {
  display: block;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.brand__subtitle-pink {
  color: #f16d7f;
}

@media (max-width: 1599px) {
  .brand {
    margin: 0 0 20px 0;
  }
  .brand__wrapper {
    max-width: 768px;
  }
  .brand__image {
    width: 386px;
    height: 368px;
  }
  .brand__title {
    font-size: 44px;
    line-height: 53px;
  }
  .brand__subtitle {
    font-size: 24px;
  }
  .products {
    padding: 155px 0 65px 0;
  }
  .products__list {
    padding: 73px 0 33px 0;
  }
}

@media (max-width: 767px) {
  .brand {
    margin: 0 0 64px 0;
  }
  .brand__image {
    display: none;
  }
  .brand__wrapper {
    height: 363px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brand__title-wrapper {
    padding: 0;
  }
  .brand__title {
    font-size: 38px;
    line-height: 46px;
  }
  .brand__title:before {
    height: 70px;
    left: -27px;
    top: 5px;
  }
  .brand__subtitle {
    font-size: 20px;
  }
}

.offers .offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers .offers__item {
  color: white;
  width: 360px;
  min-height: 260px;
  background: rgba(33, 22, 22, 0.7);
  margin: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers .offers__item-woman {
  background-image: url(../img/for_women.jpg);
}

.offers .offers__item-man {
  background-image: url(../img/for_men.jpg);
}

.offers .offers__item-kids {
  background-image: url(../img/for_kids.jpg);
}

.offers .offers__item-accesories {
  background-image: url(../img/accesories.jpg);
  width: 100%;
  margin: 0;
}

.offers .offers__item-text {
  text-transform: uppercase;
  text-align: center;
}

.offers .offers__item-what {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

@media (max-width: 1599px) {
  .offers .offers__item {
    width: 232px;
    min-height: 168px;
    margin: 0 0 19px;
  }
  .offers .offers__item-woman {
    background-size: 232px 168px;
  }
  .offers .offers__item-man {
    background-size: 232px 168px;
  }
  .offers .offers__item-kids {
    background-size: 232px 168px;
  }
  .offers .offers__item-accesories {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .offers__item {
    width: 343px;
    min-height: 247px;
    margin: 0 0 32px;
  }
  .offers .offers__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offers .offers__item {
    width: 343px;
    height: 247px;
    margin-bottom: 32px;
  }
  .offers .offers__item-woman {
    background-size: 343px 247px;
  }
  .offers .offers__item-man {
    background-size: 343px 247px;
  }
  .offers .offers__item-kids {
    background-size: 343px 247px;
  }
  .offers .offers__item-accesories {
    height: 111px;
    background-size: auto;
  }
}

.products {
  padding: 96px 0 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__title {
  color: #222224;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
}

.products__title-subtitle {
  color: #9f9f9f;
  font-size: 14px;
  line-height: 17px;
}

.products__list {
  padding: 48px 0 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__item {
  width: 360px;
  background-color: #f8f8f8;
  margin: 0 0 30px;
}

.cart-wrapper-overlay {
  position: relative;
}

.cart-wrapper-overlay:before {
  display: none;
  content: "";
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.button__hidden {
  display: none;
  position: absolute;
  width: 138px;
  height: 43px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background: none;
  color: #ffffff;
}

.products__item:hover .cart-wrapper-overlay:before {
  display: block;
}

.products__item:hover .button__hidden {
  display: block;
  border: 1px solid #ffffff;
}

.products__item-info {
  padding: 24px 28px 20px 16px;
}

.products__item-discription {
  min-height: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__item-text {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__discription {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.text__cost {
  color: #f16d7f;
}

.button__all-products {
  border: 1px solid #ff6a6a;
  width: 210px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f26376;
  text-decoration: none;
}

.button__all-products:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

@media (max-width: 1599px) {
  .products {
    padding: 136px 0 65px 0;
  }
  .products__list {
    padding: 72px 0 2px 0;
  }
}

.bottom {
  min-height: 341px;
  background: #222224;
  color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 134px;
}

.bottom__discription {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom__discription-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.bottom__discription-item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
}

@media (max-width: 1599px) {
  .bottom {
    min-height: 610px;
    display: block;
  }
  .bottom__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .bottom__discription {
    margin-top: 48px;
  }
  .bottom__discription-img {
    margin-bottom: 28px;
  }
  .bottom__discription-item {
    margin-bottom: 16px;
  }
}

.registration__item {
  min-height: 148px;
  background: #f8f3f4;
  color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__item-title {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
}

.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration__form-wrapper {
  width: 360px;
}

.registration__form-legend {
  font-weight: 300;
}

.registration__form-space {
  margin-top: 20px;
}

.form__input-area {
  width: 337px;
  height: 45px;
  padding-left: 17px;
}

.form__input-area::-webkit-input-placeholder {
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

.form__input-area::-moz-placeholder {
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

.form__input-area:-moz-placeholder {
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

.form__input-area:-ms-input-placeholder {
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

.registration__form-details {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #b1b1b1;
  margin-top: 15px;
  margin-bottom: 39px;
}

.registration__button {
  width: 167px;
  height: 50px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f16d7f;
  border: none;
  text-align: left;
  padding-left: 29px;
  position: relative;
}

.registration__button:after {
  content: url("../img/narrow.svg");
  position: absolute;
  width: 17px;
  height: 10px;
  left: 121px;
}

.registration__info {
  width: 652px;
}

.registration__info-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.registration__info-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.registration__mark {
  position: relative;
  margin-left: 43px;
  margin-top: 21px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.registration__mark:before {
  content: url("../img/mark.svg");
  position: absolute;
  width: 20px;
  height: 16px;
  left: -43px;
}

@media (max-width: 1599px) {
  .registration__form {
    margin-top: 40px;
  }
  .registration__info {
    width: 354px;
  }
  .registration__info-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 32px;
  }
  .registration__info-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    padding-bottom: 22px;
  }
  .registration__mark {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .registration__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration__info-title {
    margin-top: 40px;
  }
}

.registration__form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
  margin-bottom: 33px;
  padding-left: 27px;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
}

[type="radio"] {
  display: none;
}

.radio-label {
  position: relative;
  margin-right: 47px;
}

.radio-label:before {
  content: " ";
  width: 17px;
  height: 17px;
  position: absolute;
  border: 1px solid #a4a4a4;
  left: -27px;
  top: -3px;
  border-radius: 9px;
}

[type="radio"]:checked + .radio-label:before {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
}

.cart__item {
  min-height: 148px;
  background: #f8f3f4;
  color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.cart__item .cart__item-title {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*# sourceMappingURL=style.css.map */