$dark-blue: #222224;
$dark: #000000;
$brown: rgba(33, 22, 22, 0.7);
$light-pink: #f1e4e6;
$dark-pink: #f16d7f;
$pink: #f26376;
$grey: #9f9f9f;
$grey2: #b1b1b1;
$dark-grey: #5d5d5d;
$light-grey: #e1e1e1;
$light-white: #f8f8f8;
$white: #fbfbfb;
$white2: #ffffff;

$max-tablet-width: 1599px;
$max-mobile-width: 767px;