.brand {
  background-color: $light-pink;
  margin: 0 0 65px 0;
}

.brand__wrapper {
  display: flex;
  max-width: 1600px;
  margin: auto;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  position: relative;
  font-style: normal;
}

.brand__title:before {
  content: "";
  width: 12px;
  height: 92px;
  background: $dark-pink;
  position: absolute;
  left: -28px;
}

.brand__title-wrapper {
  padding: 0 0 0 91px;
  display: flex;
  align-items: center;
}

.brand__subtitle {
  display: block;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.brand__subtitle-pink {
  color: $dark-pink;
}

@media (max-width: $max-tablet-width) {
  .brand {
    margin: 0 0 20px 0;

    &__wrapper {
      max-width: 768px;
    }

    &__image {
      width: 386px;
      height: 368px;
    }

    &__title {
      font-size: 44px;
      line-height: 53px;
    }

    &__subtitle {
      font-size: 24px;
    }
  }
  .products {
    padding: 155px 0 65px 0;

    &__list {
      padding: 73px 0 33px 0;
    }
  }
}

@media (max-width: $max-mobile-width) {
  .brand {
    margin: 0 0 64px 0;

    &__image {
      display: none;
    }

    &__wrapper {
      height: 363px;
    }

    &__title-wrapper {
      padding: 0 0 0 83px;
    }

    &__title {
      font-size: 38px;
      line-height: 46px;
    }

    &__title:before {
      height: 61px;
      left: -27px;
      top: 5px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }
}