.offers {
  .offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .offers__item {
    color: white;
    width: 360px;
    min-height: 260px;
    background: $brown;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .offers__item-woman {
    background-image: url(../img/for_women.jpg);
  }
  
  .offers__item-man {
    background-image: url(../img/for_men.jpg);
  }
  
  .offers__item-kids {
    background-image: url(../img/for_kids.jpg);
  }
  
  .offers__item-accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    margin: 0;
  }
  
  .offers__item-text {
    text-transform: uppercase;
    text-align: center;
  }
  
  .offers__item-what {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
}

@media (max-width: $max-tablet-width) {
  .offers {
    .offers__item {
      width: 232px;
      min-height: 168px;
      margin: 0 0 19px;
    }
    .offers__item-woman {
    background-size: 232px 168px;
    }

    .offers__item-man {
      background-size: 232px 168px;
    }

    .offers__item-kids {
      background-size: 232px 168px;
    }

    .offers__item-accesories {
      width: 100%;
    }
  }
}

@media (max-width: $max-mobile-width) {
  .offers {
    &__item {
      width: 343px;
      min-height: 247px;
      margin: 0 0 32px;
    }

    .offers__list {
      justify-content: center;
    }

    .offers__item {
      width: 343px;
      height: 247px;
      margin-bottom: 32px;
    }

    .offers__item-woman {
      background-size: 343px 247px;
    }
  
    .offers__item-man {
      background-size: 343px 247px;
    }
  
    .offers__item-kids {
      background-size: 343px 247px;
    }

    .offers__item-accesories {
      height: 111px;
      background-size: auto;
    }
  }
}
