.products {
  padding: 96px 0 96px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products__title {
  color: $dark-blue;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
}

.products__title-subtitle {
  color: $grey;
  font-size: 14px;
  line-height: 17px;
}

.products__list {
  padding: 48px 0 48px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  width: 360px;
  background-color: $light-white;
  margin: 0 0 30px;
}

.cart-wrapper-overlay {
  position: relative;
}

.cart-wrapper-overlay:before {
  display: none;
  content: "";
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.button__hidden {
  display: none;
  position: absolute;
  width: 138px;
  height: 43px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: none;
  color: $white2;
}

.products__item:hover .cart-wrapper-overlay:before {
  display: block;
}

.products__item:hover .button__hidden {
  display: block;
  border: 1px solid $white2;
}

.products__item-info {
  padding: 24px 28px 20px 16px;
}

.products__item-discription {
  min-height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products__item-text {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: $dark;
}

.product__discription {
  color: $dark-grey;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.text__cost {
  color: $dark-pink;
}

.button__all-products {
  border: 1px solid #ff6a6a;
  width: 210px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $pink;
  text-decoration: none;
}

.button__all-products:hover {
  background-color: $dark-pink;
  color: $white2;
}

@media (max-width: $max-tablet-width) {
  .products {
    padding: 136px 0 65px 0;

    &__list {
      padding: 72px 0 2px 0;
    }
  }
}