.registration__item {
  min-height: 148px;
  background: #f8f3f4;
  color: $white;
  display: flex;
  align-items: center;
}

.registration__item-title {
  color: $dark-pink;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
}

.registration__form {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

.form {
  width: 360px;
}

.registration__form-legend {
  font-weight: 300;
}

.registration__form-space {
  margin-top: 20px;
}

.form__input-area {
  width: 360px;
  height: 45px;
  padding-left: 17px;
}

.form__input-area::-webkit-input-placeholder {
  color: $grey2;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

.form__input-area::-moz-placeholder {
  color: $grey2;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

.form__input-area:-moz-placeholder {
  color: $grey2;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

.form__input-area:-ms-input-placeholder {
  color: $grey2;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

.registration__form-radio {
  display: flex;
  margin-top: 31px;
  margin-bottom: 33px;
  padding-left: 27px;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
}

[type="radio"] {
  display: none;
}

.radio-label {
  position: relative;
  margin-right: 47px;
}

.radio-label:before {
  content: " ";
  width: 17px;
  height: 17px;
  position: absolute;
  border: 1px solid #a4a4a4;
  left: -27px;
  top: -3px;
  border-radius: 9px;
}

[type="radio"]:checked + .radio-label:before {
  background-color: $dark-pink;
  border: 1px solid $dark-pink;
}

.registration__form-details {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: $grey2;
  margin-top: 15px;
  margin-bottom: 39px;
}

.registration__button {
  width: 167px;
  height: 50px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $white2;
  background-color: $dark-pink;
  border: none;
  text-align: left;
  padding-left: 29px;
  position: relative;
}

.registration__button:after {
  content: url("../img/narrow.svg");
  position: absolute;
  width: 17px;
  height: 10px;
  left: 121px;
}

.registration__info {
  width: 652px;
}

.registration__info-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.registration__info-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.registration__mark {
  position: relative;
  margin-left: 43px;
  margin-top: 21px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.registration__mark:before {
  content: url("../img/mark.svg");
  position: absolute;
  width: 20px;
  height: 16px;
  left: -43px;
}