.footer__bottom {
  background-color: $dark-blue;
  .footer__bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 79px;
  }
}

.rights {
  color: $white;
}

.facebook {
  background-color: transparent;
  border: none;
}

.facebook__link {
  fill: $white;
}

.facebook__color {
  fill: $dark-blue;
}

.facebook__link:hover {
  fill: $dark-pink;
}

.facebook__link:hover + .facebook__color {
  fill: $white;
}

@media (max-width: $max-tablet-width) {
  .social_nets {
    margin-right: 16px;
  }

  .rights {
    margin-left: 16px;
  }
}

@media (max-width: $max-mobile-width) {
  .footer__bottom {
    min-height: 143px;
  }

  .footer__bottom-info {
    flex-direction: column-reverse;
    padding-top: 43px;
  }
}